In [4]:
import pandas as pd
import numpy as np
import re

In [45]:
df=pd.read_csv(r"C:\Users\koush\OneDrive\Desktop\Moses k\Downloads\dataset.csv")

C:\Users\koush\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [46]:
df.head(3)

,"Billings; Europe, Sectors & Countries",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256,Unnamed: 257,Unnamed: 258,Unnamed: 259,Unnamed: 260
0,Source: Morgan Stanley Research,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2.0,9,10,11,12,13,14,15,16,...,258,259,260,261,262,263,264,265,266,267

In [47]:
df.drop(labels=[0,1,2],inplace = True)

In [48]:
df

,"Billings; Europe, Sectors & Countries",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256,Unnamed: 257,Unnamed: 258,Unnamed: 259,Unnamed: 260
3,NaN,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
4,NaN,NaN,Market,Sectors,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,EURO,EURO_25,EURO_30,EURO_10,EURO_40,EURO_35,EURO_20,EURO_45,...,GR,IE,IT,NL,NO,PT,ES,SE,CH,GB
6,31-Dec-74,NaN,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
7,1-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11135,28-Aug-17,NaN,19540.2,23407.4,12484.4,32322,13542,14018.6,11966.4,7833.2,...,NaN,22085.2,18572.6,32965.2,27484.4,NaN,33455,18183.6,42591.2,29264.6
11136,29-Aug-17,NaN,19337.8,23310.8,12297.2,32124.6,13323,13779.2,11956.4,8161.8,...,NaN,22369.8,18520.8,33006.8,27707.8,NaN,34186.8,17974,42936.4,28631
11137,30-Aug-17,NaN,19683.4,23461.4,12227.6,31858.2,13161.2,13894.2,11882.6,8057.4,...,NaN,22179.2,18546,32567.8,27414.6,NaN,33779,18208.2,42681.2,28686
11138,31-Aug-17,NaN,19514.2,23859.8,12076.2,31062.6,13425.6,13968.8,12444.4,7895.2,...,NaN,21422.4,19010.4,32488.6,26173.2,NaN,35239.2,19611,42931.4,28286.2
11139,1-Sep-17,NaN,19482.2,23866.8,12058.2,44960.4,13429.4,13774.2,11782.2,8763,...,NaN,21327.2,18827.4,32908.8,25365.8,NaN,35336,19979,43008.4,29284.2

In [49]:
df.drop(columns=['Unnamed: 1'],inplace=True)

In [50]:
df.dropna(how='all',thresh=2,inplace=True)

In [51]:
df

,"Billings; Europe, Sectors & Countries",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256,Unnamed: 257,Unnamed: 258,Unnamed: 259,Unnamed: 260
3,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,Materials - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
4,NaN,Market,Sectors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,EURO,EURO_25,EURO_30,EURO_10,EURO_40,EURO_35,EURO_20,EURO_45,EURO_15,...,GR,IE,IT,NL,NO,PT,ES,SE,CH,GB
6,31-Dec-74,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,19206.8,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
29,31-Jan-75,20852.2,23645,19200,72220.6,23103.6,11124.2,20331.8,9018.4,16334.4,...,NaN,NaN,28554.6,21222,14590.6,NaN,23310.2,19505.6,27116.2,15255.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11135,28-Aug-17,19540.2,23407.4,12484.4,32322,13542,14018.6,11966.4,7833.2,15034,...,NaN,22085.2,18572.6,32965.2,27484.4,NaN,33455,18183.6,42591.2,29264.6
11136,29-Aug-17,19337.8,23310.8,12297.2,32124.6,13323,13779.2,11956.4,8161.8,14934.2,...,NaN,22369.8,18520.8,33006.8,27707.8,NaN,34186.8,17974,42936.4,28631
11137,30-Aug-17,19683.4,23461.4,12227.6,31858.2,13161.2,13894.2,11882.6,8057.4,14773.6,...,NaN,22179.2,18546,32567.8,27414.6,NaN,33779,18208.2,42681.2,28686
11138,31-Aug-17,19514.2,23859.8,12076.2,31062.6,13425.6,13968.8,12444.4,7895.2,20041.2,...,NaN,21422.4,19010.4,32488.6,26173.2,NaN,35239.2,19611,42931.4,28286.2
11139,1-Sep-17,19482.2,23866.8,12058.2,44960.4,13429.4,13774.2,11782.2,8763,19971.6,...,NaN,21327.2,18827.4,32908.8,25365.8,NaN,35336,19979,43008.4,29284.2

In [52]:
df.dropna(how='all',thresh=2,axis=1,inplace=True)

In [53]:
df

,"Billings; Europe, Sectors & Countries",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256,Unnamed: 257,Unnamed: 258,Unnamed: 259,Unnamed: 260
3,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,Materials - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
4,NaN,Market,Sectors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,EURO,EURO_25,EURO_30,EURO_10,EURO_40,EURO_35,EURO_20,EURO_45,EURO_15,...,GR,IE,IT,NL,NO,PT,ES,SE,CH,GB
6,31-Dec-74,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,19206.8,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
29,31-Jan-75,20852.2,23645,19200,72220.6,23103.6,11124.2,20331.8,9018.4,16334.4,...,NaN,NaN,28554.6,21222,14590.6,NaN,23310.2,19505.6,27116.2,15255.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11135,28-Aug-17,19540.2,23407.4,12484.4,32322,13542,14018.6,11966.4,7833.2,15034,...,NaN,22085.2,18572.6,32965.2,27484.4,NaN,33455,18183.6,42591.2,29264.6
11136,29-Aug-17,19337.8,23310.8,12297.2,32124.6,13323,13779.2,11956.4,8161.8,14934.2,...,NaN,22369.8,18520.8,33006.8,27707.8,NaN,34186.8,17974,42936.4,28631
11137,30-Aug-17,19683.4,23461.4,12227.6,31858.2,13161.2,13894.2,11882.6,8057.4,14773.6,...,NaN,22179.2,18546,32567.8,27414.6,NaN,33779,18208.2,42681.2,28686
11138,31-Aug-17,19514.2,23859.8,12076.2,31062.6,13425.6,13968.8,12444.4,7895.2,20041.2,...,NaN,21422.4,19010.4,32488.6,26173.2,NaN,35239.2,19611,42931.4,28286.2
11139,1-Sep-17,19482.2,23866.8,12058.2,44960.4,13429.4,13774.2,11782.2,8763,19971.6,...,NaN,21327.2,18827.4,32908.8,25365.8,NaN,35336,19979,43008.4,29284.2

In [54]:
df1=df.T

In [55]:
df1

,3,4,5,6,29,49,70,92,114,135,...,11129,11130,11131,11132,11133,11135,11136,11137,11138,11139
"Billings; Europe, Sectors & Countries",NaN,NaN,NaN,31-Dec-74,31-Jan-75,28-Feb-75,31-Mar-75,30-Apr-75,30-May-75,30-Jun-75,...,18-Aug-17,21-Aug-17,22-Aug-17,23-Aug-17,24-Aug-17,28-Aug-17,29-Aug-17,30-Aug-17,31-Aug-17,1-Sep-17
Unnamed: 2,Europe - On Trailing EY,Market,EURO,27536,20852.2,19235.4,20402.8,21238.8,21151.8,22629.6,...,19867.8,20038,19947.4,19945.2,19774.4,19540.2,19337.8,19683.4,19514.2,19482.2
Unnamed: 3,Consumer Discretionary - On Trailing EY,Sectors,EURO_25,26861,23645,21854.2,24271,23751.8,24506.8,22979.2,...,24131.4,23846.6,24013.4,23757.4,23981.8,23407.4,23310.8,23461.4,23859.8,23866.8
Unnamed: 4,Consumer Staples - On Trailing EY,NaN,EURO_30,25887.8,19200,16735.4,17945.8,18572.6,18971.8,19548.6,...,12136.6,12138.6,11894.6,11953,11968.6,12484.4,12297.2,12227.6,12076.2,12058.2
Unnamed: 5,Energy - On Trailing EY,NaN,EURO_10,51400.2,72220.6,59403.2,63109,60682.4,49228.4,41084.8,...,32397,32243.2,32511.8,32396.4,32150.4,32322,32124.6,31858.2,31062.6,44960.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 256,Portugal - On Trailing BVY,NaN,PT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 257,Spain - On Trailing BVY,NaN,ES,21978,23310.2,20463.6,19189.2,22317.2,22884,21036.8,...,33431,33697.2,33257.4,33657.2,33331,33455,34186.8,33779,35239.2,35336
Unnamed: 258,Sweden - On Trailing BVY,NaN,SE,16744.6,19505.6,18403.2,19418.6,16867.2,18667,17736,...,18408.2,18404.6,18524.6,18403.4,18419.8,18183.6,17974,18208.2,19611,19979
Unnamed: 259,Switzerland - On Trailing BVY,NaN,CH,24155.2,27116.2,28659.4,30082,27116.8,24112.2,23034.8,...,42449.6,42544.6,42477,42683.2,42676.4,42591.2,42936.4,42681.2,42931.4,43008.4
Unnamed: 260,United Kingdom - On Trailing BVY,NaN,GB,14720.6,15255.2,14523.4,15599.4,15206,15702.2,17230.8,...,31973.2,31602.4,31010,30965.8,29532.8,29264.6,28631,28686,28286.2,29284.2

In [56]:
df1[[4]]=df1[[4]].fillna(method='ffill')

In [57]:
df1

,3,4,5,6,29,49,70,92,114,135,...,11129,11130,11131,11132,11133,11135,11136,11137,11138,11139
"Billings; Europe, Sectors & Countries",NaN,NaN,NaN,31-Dec-74,31-Jan-75,28-Feb-75,31-Mar-75,30-Apr-75,30-May-75,30-Jun-75,...,18-Aug-17,21-Aug-17,22-Aug-17,23-Aug-17,24-Aug-17,28-Aug-17,29-Aug-17,30-Aug-17,31-Aug-17,1-Sep-17
Unnamed: 2,Europe - On Trailing EY,Market,EURO,27536,20852.2,19235.4,20402.8,21238.8,21151.8,22629.6,...,19867.8,20038,19947.4,19945.2,19774.4,19540.2,19337.8,19683.4,19514.2,19482.2
Unnamed: 3,Consumer Discretionary - On Trailing EY,Sectors,EURO_25,26861,23645,21854.2,24271,23751.8,24506.8,22979.2,...,24131.4,23846.6,24013.4,23757.4,23981.8,23407.4,23310.8,23461.4,23859.8,23866.8
Unnamed: 4,Consumer Staples - On Trailing EY,Sectors,EURO_30,25887.8,19200,16735.4,17945.8,18572.6,18971.8,19548.6,...,12136.6,12138.6,11894.6,11953,11968.6,12484.4,12297.2,12227.6,12076.2,12058.2
Unnamed: 5,Energy - On Trailing EY,Sectors,EURO_10,51400.2,72220.6,59403.2,63109,60682.4,49228.4,41084.8,...,32397,32243.2,32511.8,32396.4,32150.4,32322,32124.6,31858.2,31062.6,44960.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 256,Portugal - On Trailing BVY,Countries,PT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 257,Spain - On Trailing BVY,Countries,ES,21978,23310.2,20463.6,19189.2,22317.2,22884,21036.8,...,33431,33697.2,33257.4,33657.2,33331,33455,34186.8,33779,35239.2,35336
Unnamed: 258,Sweden - On Trailing BVY,Countries,SE,16744.6,19505.6,18403.2,19418.6,16867.2,18667,17736,...,18408.2,18404.6,18524.6,18403.4,18419.8,18183.6,17974,18208.2,19611,19979
Unnamed: 259,Switzerland - On Trailing BVY,Countries,CH,24155.2,27116.2,28659.4,30082,27116.8,24112.2,23034.8,...,42449.6,42544.6,42477,42683.2,42676.4,42591.2,42936.4,42681.2,42931.4,43008.4
Unnamed: 260,United Kingdom - On Trailing BVY,Countries,GB,14720.6,15255.2,14523.4,15599.4,15206,15702.2,17230.8,...,31973.2,31602.4,31010,30965.8,29532.8,29264.6,28631,28686,28286.2,29284.2

In [58]:
df1[[4]]

                                               4
Billings; Europe, Sectors & Countries        NaN
Unnamed: 2                                Market
Unnamed: 3                               Sectors
Unnamed: 4                               Sectors
Unnamed: 5                               Sectors
...                                          ...
Unnamed: 256                           Countries
Unnamed: 257                           Countries
Unnamed: 258                           Countries
Unnamed: 259                           Countries
Unnamed: 260                           Countries

[256 rows x 1 columns]

In [59]:
df=df1.T

In [60]:
df

,"Billings; Europe, Sectors & Countries",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256,Unnamed: 257,Unnamed: 258,Unnamed: 259,Unnamed: 260
3,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,Materials - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
4,NaN,Market,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,...,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries
5,NaN,EURO,EURO_25,EURO_30,EURO_10,EURO_40,EURO_35,EURO_20,EURO_45,EURO_15,...,GR,IE,IT,NL,NO,PT,ES,SE,CH,GB
6,31-Dec-74,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,19206.8,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
29,31-Jan-75,20852.2,23645,19200,72220.6,23103.6,11124.2,20331.8,9018.4,16334.4,...,NaN,NaN,28554.6,21222,14590.6,NaN,23310.2,19505.6,27116.2,15255.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11135,28-Aug-17,19540.2,23407.4,12484.4,32322,13542,14018.6,11966.4,7833.2,15034,...,NaN,22085.2,18572.6,32965.2,27484.4,NaN,33455,18183.6,42591.2,29264.6
11136,29-Aug-17,19337.8,23310.8,12297.2,32124.6,13323,13779.2,11956.4,8161.8,14934.2,...,NaN,22369.8,18520.8,33006.8,27707.8,NaN,34186.8,17974,42936.4,28631
11137,30-Aug-17,19683.4,23461.4,12227.6,31858.2,13161.2,13894.2,11882.6,8057.4,14773.6,...,NaN,22179.2,18546,32567.8,27414.6,NaN,33779,18208.2,42681.2,28686
11138,31-Aug-17,19514.2,23859.8,12076.2,31062.6,13425.6,13968.8,12444.4,7895.2,20041.2,...,NaN,21422.4,19010.4,32488.6,26173.2,NaN,35239.2,19611,42931.4,28286.2
11139,1-Sep-17,19482.2,23866.8,12058.2,44960.4,13429.4,13774.2,11782.2,8763,19971.6,...,NaN,21327.2,18827.4,32908.8,25365.8,NaN,35336,19979,43008.4,29284.2

In [61]:
df.reset_index(inplace = True)

In [62]:
df

,index,"Billings; Europe, Sectors & Countries",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256,Unnamed: 257,Unnamed: 258,Unnamed: 259,Unnamed: 260
0,3,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
1,4,NaN,Market,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,...,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries
2,5,NaN,EURO,EURO_25,EURO_30,EURO_10,EURO_40,EURO_35,EURO_20,EURO_45,...,GR,IE,IT,NL,NO,PT,ES,SE,CH,GB
3,6,31-Dec-74,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
4,29,31-Jan-75,20852.2,23645,19200,72220.6,23103.6,11124.2,20331.8,9018.4,...,NaN,NaN,28554.6,21222,14590.6,NaN,23310.2,19505.6,27116.2,15255.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,11135,28-Aug-17,19540.2,23407.4,12484.4,32322,13542,14018.6,11966.4,7833.2,...,NaN,22085.2,18572.6,32965.2,27484.4,NaN,33455,18183.6,42591.2,29264.6
1098,11136,29-Aug-17,19337.8,23310.8,12297.2,32124.6,13323,13779.2,11956.4,8161.8,...,NaN,22369.8,18520.8,33006.8,27707.8,NaN,34186.8,17974,42936.4,28631
1099,11137,30-Aug-17,19683.4,23461.4,12227.6,31858.2,13161.2,13894.2,11882.6,8057.4,...,NaN,22179.2,18546,32567.8,27414.6,NaN,33779,18208.2,42681.2,28686
1100,11138,31-Aug-17,19514.2,23859.8,12076.2,31062.6,13425.6,13968.8,12444.4,7895.2,...,NaN,21422.4,19010.4,32488.6,26173.2,NaN,35239.2,19611,42931.4,28286.2
1101,11139,1-Sep-17,19482.2,23866.8,12058.2,44960.4,13429.4,13774.2,11782.2,8763,...,NaN,21327.2,18827.4,32908.8,25365.8,NaN,35336,19979,43008.4,29284.2

In [63]:
df.drop(columns=['index'],axis=1, inplace=True)

In [64]:
df

,"Billings; Europe, Sectors & Countries",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256,Unnamed: 257,Unnamed: 258,Unnamed: 259,Unnamed: 260
0,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,Materials - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
1,NaN,Market,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,...,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries
2,NaN,EURO,EURO_25,EURO_30,EURO_10,EURO_40,EURO_35,EURO_20,EURO_45,EURO_15,...,GR,IE,IT,NL,NO,PT,ES,SE,CH,GB
3,31-Dec-74,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,19206.8,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
4,31-Jan-75,20852.2,23645,19200,72220.6,23103.6,11124.2,20331.8,9018.4,16334.4,...,NaN,NaN,28554.6,21222,14590.6,NaN,23310.2,19505.6,27116.2,15255.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,28-Aug-17,19540.2,23407.4,12484.4,32322,13542,14018.6,11966.4,7833.2,15034,...,NaN,22085.2,18572.6,32965.2,27484.4,NaN,33455,18183.6,42591.2,29264.6
1098,29-Aug-17,19337.8,23310.8,12297.2,32124.6,13323,13779.2,11956.4,8161.8,14934.2,...,NaN,22369.8,18520.8,33006.8,27707.8,NaN,34186.8,17974,42936.4,28631
1099,30-Aug-17,19683.4,23461.4,12227.6,31858.2,13161.2,13894.2,11882.6,8057.4,14773.6,...,NaN,22179.2,18546,32567.8,27414.6,NaN,33779,18208.2,42681.2,28686
1100,31-Aug-17,19514.2,23859.8,12076.2,31062.6,13425.6,13968.8,12444.4,7895.2,20041.2,...,NaN,21422.4,19010.4,32488.6,26173.2,NaN,35239.2,19611,42931.4,28286.2
1101,1-Sep-17,19482.2,23866.8,12058.2,44960.4,13429.4,13774.2,11782.2,8763,19971.6,...,NaN,21327.2,18827.4,32908.8,25365.8,NaN,35336,19979,43008.4,29284.2

In [65]:
df.columns=[i for i in range(256)]

In [66]:
df

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,Materials - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
1,NaN,Market,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,...,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries
2,NaN,EURO,EURO_25,EURO_30,EURO_10,EURO_40,EURO_35,EURO_20,EURO_45,EURO_15,...,GR,IE,IT,NL,NO,PT,ES,SE,CH,GB
3,31-Dec-74,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,19206.8,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
4,31-Jan-75,20852.2,23645,19200,72220.6,23103.6,11124.2,20331.8,9018.4,16334.4,...,NaN,NaN,28554.6,21222,14590.6,NaN,23310.2,19505.6,27116.2,15255.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,28-Aug-17,19540.2,23407.4,12484.4,32322,13542,14018.6,11966.4,7833.2,15034,...,NaN,22085.2,18572.6,32965.2,27484.4,NaN,33455,18183.6,42591.2,29264.6
1098,29-Aug-17,19337.8,23310.8,12297.2,32124.6,13323,13779.2,11956.4,8161.8,14934.2,...,NaN,22369.8,18520.8,33006.8,27707.8,NaN,34186.8,17974,42936.4,28631
1099,30-Aug-17,19683.4,23461.4,12227.6,31858.2,13161.2,13894.2,11882.6,8057.4,14773.6,...,NaN,22179.2,18546,32567.8,27414.6,NaN,33779,18208.2,42681.2,28686
1100,31-Aug-17,19514.2,23859.8,12076.2,31062.6,13425.6,13968.8,12444.4,7895.2,20041.2,...,NaN,21422.4,19010.4,32488.6,26173.2,NaN,35239.2,19611,42931.4,28286.2
1101,1-Sep-17,19482.2,23866.8,12058.2,44960.4,13429.4,13774.2,11782.2,8763,19971.6,...,NaN,21327.2,18827.4,32908.8,25365.8,NaN,35336,19979,43008.4,29284.2

In [67]:
df.columns[1:]

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            246, 247, 248, 249, 250, 251, 252, 253, 254, 255],
           dtype='int64', length=255)

In [68]:
df[1][0]

'Europe - On Trailing EY'

In [69]:
Segment=[]
Sub_Types=[]
Values=[]
Date=[]
for i in df.columns[1:]:
    for j in df.index[3:]:
        Segment.append(df[i][0])
        Sub_Types.append(df[i][2])
        Values.append(df[i][j])
        Date.append(df[0][j])

In [70]:
europe=pd.DataFrame({'Segment':Segment,'SubType':Sub_Types,'Values':Values,'Date':Date})

In [71]:
europe

                                 Segment SubType   Values       Date
0                Europe - On Trailing EY    EURO    27536  31-Dec-74
1                Europe - On Trailing EY    EURO  20852.2  31-Jan-75
2                Europe - On Trailing EY    EURO  19235.4  28-Feb-75
3                Europe - On Trailing EY    EURO  20402.8  31-Mar-75
4                Europe - On Trailing EY    EURO  21238.8  30-Apr-75
...                                  ...     ...      ...        ...
280240  United Kingdom - On Trailing BVY      GB  29264.6  28-Aug-17
280241  United Kingdom - On Trailing BVY      GB    28631  29-Aug-17
280242  United Kingdom - On Trailing BVY      GB    28686  30-Aug-17
280243  United Kingdom - On Trailing BVY      GB  28286.2  31-Aug-17
280244  United Kingdom - On Trailing BVY      GB  29284.2   1-Sep-17

[280245 rows x 4 columns]

In [72]:
r=re.compile('\w+')
r.search(europe['Segment'][0]).group()

'Europe'

In [73]:
europe['Trail']=europe['Segment'].apply(lambda x:re.search('\w+',x).group())

In [74]:
europe

                                 Segment SubType   Values       Date   Trail
0                Europe - On Trailing EY    EURO    27536  31-Dec-74  Europe
1                Europe - On Trailing EY    EURO  20852.2  31-Jan-75  Europe
2                Europe - On Trailing EY    EURO  19235.4  28-Feb-75  Europe
3                Europe - On Trailing EY    EURO  20402.8  31-Mar-75  Europe
4                Europe - On Trailing EY    EURO  21238.8  30-Apr-75  Europe
...                                  ...     ...      ...        ...     ...
280240  United Kingdom - On Trailing BVY      GB  29264.6  28-Aug-17  United
280241  United Kingdom - On Trailing BVY      GB    28631  29-Aug-17  United
280242  United Kingdom - On Trailing BVY      GB    28686  30-Aug-17  United
280243  United Kingdom - On Trailing BVY      GB  28286.2  31-Aug-17  United
280244  United Kingdom - On Trailing BVY      GB  29284.2   1-Sep-17  United

[280245 rows x 5 columns]

In [75]:
k=re.compile('\-\D+')
k.search(europe.Segment[0]).group().replace('-','')

' On Trailing EY'

In [76]:
europe['Period']=europe['Segment'].apply(lambda x:re.search('\-\D+',x).group().replace('-',''))

In [77]:
europe

,Segment,SubType,Values,Date,Trail,Period
0,Europe - On Trailing EY,EURO,27536,31-Dec-74,Europe,On Trailing EY
1,Europe - On Trailing EY,EURO,20852.2,31-Jan-75,Europe,On Trailing EY
2,Europe - On Trailing EY,EURO,19235.4,28-Feb-75,Europe,On Trailing EY
3,Europe - On Trailing EY,EURO,20402.8,31-Mar-75,Europe,On Trailing EY
4,Europe - On Trailing EY,EURO,21238.8,30-Apr-75,Europe,On Trailing EY
...,...,...,...,...,...,...
280240,United Kingdom - On Trailing BVY,GB,29264.6,28-Aug-17,United,On Trailing BVY
280241,United Kingdom - On Trailing BVY,GB,28631,29-Aug-17,United,On Trailing BVY
280242,United Kingdom - On Trailing BVY,GB,28686,30-Aug-17,United,On Trailing BVY
280243,United Kingdom - On Trailing BVY,GB,28286.2,31-Aug-17,United,On Trailing BVY
280244,United Kingdom - On Trailing BVY,GB,29284.2,1-Sep-17,United,On Trailing BVY

In [78]:
europe['Segment']=europe['Trail']

In [79]:
europe

       Segment SubType   Values       Date   Trail            Period
0       Europe    EURO    27536  31-Dec-74  Europe    On Trailing EY
1       Europe    EURO  20852.2  31-Jan-75  Europe    On Trailing EY
2       Europe    EURO  19235.4  28-Feb-75  Europe    On Trailing EY
3       Europe    EURO  20402.8  31-Mar-75  Europe    On Trailing EY
4       Europe    EURO  21238.8  30-Apr-75  Europe    On Trailing EY
...        ...     ...      ...        ...     ...               ...
280240  United      GB  29264.6  28-Aug-17  United   On Trailing BVY
280241  United      GB    28631  29-Aug-17  United   On Trailing BVY
280242  United      GB    28686  30-Aug-17  United   On Trailing BVY
280243  United      GB  28286.2  31-Aug-17  United   On Trailing BVY
280244  United      GB  29284.2   1-Sep-17  United   On Trailing BVY

[280245 rows x 6 columns]

In [80]:
europe=europe.reindex(columns=['Segment','Period','SubType','Values','Date'])

In [81]:
europe

       Segment            Period SubType   Values       Date
0       Europe    On Trailing EY    EURO    27536  31-Dec-74
1       Europe    On Trailing EY    EURO  20852.2  31-Jan-75
2       Europe    On Trailing EY    EURO  19235.4  28-Feb-75
3       Europe    On Trailing EY    EURO  20402.8  31-Mar-75
4       Europe    On Trailing EY    EURO  21238.8  30-Apr-75
...        ...               ...     ...      ...        ...
280240  United   On Trailing BVY      GB  29264.6  28-Aug-17
280241  United   On Trailing BVY      GB    28631  29-Aug-17
280242  United   On Trailing BVY      GB    28686  30-Aug-17
280243  United   On Trailing BVY      GB  28286.2  31-Aug-17
280244  United   On Trailing BVY      GB  29284.2   1-Sep-17

[280245 rows x 5 columns]

In [82]:
europe.isnull().sum()

Segment        0
Period         0
SubType        0
Values     39323
Date           0
dtype: int64

In [83]:
europe.dropna(inplace=True)

In [84]:
europe.isnull().sum()

Segment    0
Period     0
SubType    0
Values     0
Date       0
dtype: int64

In [87]:
europe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240922 entries, 0 to 280244
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Segment  240922 non-null  object
 1   Period   240922 non-null  object
 2   SubType  240922 non-null  object
 3   Values   240922 non-null  object
 4   Date     240922 non-null  object
dtypes: object(5)
memory usage: 11.0+ MB